    html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    border-width:20px ;
    
    }
     .container {
      width: 100%;
      height: 80vh;
      padding: 100px 0;
      margin: 0 auto;
      border: 4px solid blue;
     }

   .nav {
    display: flex;
    /* margin-left: 14rem; */
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 13px rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid rgb(50, 51, 50);  
    position: relative;
    }
    .nav-wrap {
      display: flex;
      align-items: center;
    }

   .text1 {
    font-family: monospace;
    margin-left: 8px;
    color: rgb(50, 51, 50);
    border-width: 20px;
    border: solid 5px  rgb(50, 51, 50);
    padding-right: 3px;
    padding-right: 3px;
    }

   .text2 {
    margin-left: 10px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(50, 51, 50);
    }

   .side{
    display: flex;
    align-items: center;

    }

    .p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 5px; 
    color: rgb(50, 51, 50);
    font-size: 16px;
    }

   .bars{
    display: flex;
    width: 100%;
    }

   .side-bar {
    /* margin-left: 14rem; */
    margin-top: 30px;
    box-shadow: inset -5px 0 0 0 rgb(50, 51, 50);
    box-shadow: 10px 0 10px -5px rgb(50, 51, 50); 
    position: relative;
    padding-bottom: 0%;
    margin-bottom: 60px;
    }

   .side1 {
    display: flex;
    align-items: center;
    }

   .sid-p {
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;  
    color: rgb(50, 51, 50);
    margin-left: 20px;
    font-size: 16px;
    }

   .main{
    margin: 0 40px;
    padding: 20px;
    box-shadow: 1px 0 15px -5px rgb(50, 51, 50);
    margin-top: 30px;
    justify-content: center;
    width: 100%;
  }
  
  .main2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* justify-content: center; */
    width: 100%;
    }

   .p2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(50, 51, 50);
    font-size: small;
    margin-right: 400px;
    margin-top: 10px;
    }

   .p3 {
    color: rgb(111, 119, 111);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    }

    .p4 {
    color:rgb(50, 51, 50) ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    }

    .footer { 
    margin-top: 400px; 
    box-shadow: 0 2px 13px rgba(0, 0, 0, 0.25);
    }

    .p5 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(50, 51, 50);
    font-size: 13px;
    font-weight: bold;
    padding: 18px;
    margin-left: 40px 0;
    align-items: right;     
    height: 20px;          
    text-align: center; 
    }


    @media (max-width:650px) {
      .container {
        width: 100%;
        overflow-x: hidden;
    }
    .main {
      margin: 0;
      padding: 5px;
      width: unset;
    }
    .main2 {
      flex-direction: column;
    }
    
    .side-bar {
      display: none;
    }
    .text1,.text2 {
      display: none;
    }
    .bars {
      display: block;
    }
     }


   
    
    
